/**
	Name: Hariansh Choudhary
	File: style.css
	Date: 21 February 2024
	Description: With the help of CSS, I've created a cool looking box. I've Utilized different functions of CSS to create this one
               and applying that an index file.
	**/


html {
  font-family: sans-serif;
}

div {

  /* placing and sizing */
  width: 200px;
  margin: auto;
  line-height: 9;

  /* text */
  font-size: 1.125rem;
  /* default font-size is 16px, 18 px = 1.125rem. 
     So i set it to that */

  text-align: center;
  color: white;
  /* choose a text color that suites the background and aligned 
     the text to centre */

  text-shadow: 1px 1px 1px black;
  /* added text shadow and its radius */

  /* border */
  border-radius: 10px;
  border: 1px solid #990000;

  /* background effects */
  background-color: red;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );

  /* other effects */
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 4px rgba(0, 0, 0, 0.6), 2px 2px 5px black;
  }